<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Product Form</title>
<form  th:action="@{~/product/remove}" method="post" th:object="${product}">
<input type="hidden" th:field="*{id}">
<body>
<table>
	<tr>
		<td>Product Name</td>
		<td th:text="${product.Name}" class="form-control"></td>
	</tr>
	<tr>
		<td>Price</td>
		<td th:text="${product.Price}" class="form-control"></td>
	</tr>
	<tr>
		<td>Stock</td>
		<td th:text="${product.Stock}" class="form-control"></td>
	</tr>
	<tr>
		<td>Category Id</td>
		<td th:text="${product.categoryId}" class="form-control"></td>
	</tr>
	<tr>
		<td ><input type="submit" class="btn btn-danger" value="Hapus Product"></td>
	</tr>
</table>
</form>
</body>
</html>