<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Product Form</title>
<style>
#endbtn{
margin-right:90px;
margin-top:20px;
}

</style>
</head>
<body>
<form th:action="@{~/product/save}" method="post" th:object="${product}">
<input type="hidden" th:field="*{id}">  <!-- important -->
<table>
	<tr>
		<td class="col-md-4">Product Name</td>
		<td class="col-md-8"><input type="text" th:field="*{Name}" class="form-control"></td>
	</tr>
	<tr>
		<td class="col-md-4">Price</td>
		<td class="col-md-8" ><input type="text" th:field="*{Price}" class="form-control"></td>
	</tr>
	<tr>
		<td class="col-md-4">Stock</td>
		<td class="col-md-8"><input type="text" th:field="*{Stock}" class="form-control"></td>
	</tr>
	<tr>
		<td class="col-md-4">Category Id</td>
		<td class="col-md-8"><select class="form-control"  th:field="*{CategoryId}">
 		<option  th:each="k :${kategori}" th:text=${k.Nama_kategori}  th:value=${k.Id}></option>
		 </td>
	</tr>
	
		
</table>
		<div  id="endbtn" align="right"><input type="submit" class="btn btn-success" value="simpan Product"></div>

</form>
<!--  <button onclick="javascript:location.replace('/product/index')"> <--back </button>-->
</body>
</html>