<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form  th:action="@{~/variant/remove}" method="post" th:object="${variant}">
<input type="hidden" th:field="*{Id}">
<body>
<table>
	<tr>
		<td class="col-md-4">Name Variant</td>
		<td th:text="${variant.Nama_variant}" class=" col-md-8 form-control"></td>
	</tr>
	<tr>
	
		<td class="col-md-4">Category Id</td>
		<td   th:text="${variant.CategoryId}" class=" col-md-8 form-control"></td>
	</tr>
	
<td align=right><input  type="submit" class="btn btn-danger"  value="Hapus Product"></td>
</table>
</form>
</body>
</html>