<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Variant Form</title>
</head>
<body>



<form th:action="@{~/variant/save}" method="post" th:object="${variant}">
<input type="hidden" th:field="*{id}">  <!-- important -->
<table>
	<tr>
		<td>Nama Variant</td>
		<td><input type="text" th:field="*{Nama_variant}" class="form-control"></td>
	</tr>
		<tr>
		<td class="col-md-4">Category Id</td>
		<td class="col-md-8"><select class="form-control"  th:field="*{CategoryId}">
 		<option  th:each="k :${kategori}" th:text=${k.Nama_kategori}  th:value=${k.Id}></option>
		 </td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" class="btn btn-success  d-flex flex-row-reverse " align="right" value="simpan Product"></td>
	</tr>
		
</table>
</form>
<!--  <button onclick="javascript:location.replace('/product/index')"> <--back </button>-->
</body>
</html>