<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{/jquery.min.js}"></script>
	<script th:src=@{/bootstrap/js/bootstrap.min.js}></script>
	<script th:src="@{/jquery.dataTables.min.js}"></script>
	<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">
	<style>
	#logo{
width:50px;
height:30x;
padding:0px;
margin:0px;
}
</style>
</head>
<body>
<!-- nAVBAR -->
<nav class="navbar navbar-light navbar-expand-lg" style="
background: linear-gradient(to bottom, rgba(64,162,170,1) 0%,rgba(35,171,178,1) 50%,rgba(31,169,193,1) 51%,rgba(125,185,232,1) 100%)"> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><img id="logo" src="/img/xsis.png"></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Variant <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../kategori/index">Kategori</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="../product/index">Produk</a>
      </li>
      
    </ul>
 
  </div>
</nav><!-- close nav -->

<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mytitle" >Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        ...
      </div>
      <!--  <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>--> 
    </div>
  </div>
</div>



<div class="container">
 
  <br>
<button class="btn btn-info" onclick="addform()">+ Tambah data</button>
<table class="display table table-striped table-bordered" style="width:100%" id="tabel">
<thead>
	<tr>
	<th>id</th>
	<th>Nama variant</th>
	<th>id Kategori</th>
	<th>Edit</th>
	<th>Hapus</th>
	</tr>
</thead>
<tbody>

	<tr th:each="var : ${variant}">
	<td th:text="${var.Id}"></td>
	<td th:text="${var.Nama_variant}"></td> 
	<td th:text="${var.CategoryId}"></td> 
	<td><button class="btn btn-success" th:value="${var.Id}" onClick="editform(this.value)">Edit</button></td>
	<td><button class="btn btn-danger" th:value="${var.Id}" onClick="deleteform(this.value)">Delete</button></td> 
</tr>
</tbody>
</table>

</div>
<script>

function addform(){
	console.log("disiini");
	$.ajax({
		type:'get',
		url:'/variant/form',
		dataType:'html',
		success:function(data){
			document.getElementById('modal-body').innerHTML=data;
			document.getElementById('mytitle').innerHTML="form tambah Variant";
			$('#mymodal').modal();
		}
	})
}//close addform

function editform(id){
	$.ajax({
		type:'get',
		url:'/variant/edit/'+id,
		dataType:'html',
		success:function(data){
			document.getElementById('modal-body').innerHTML=data;
			document.getElementById('mytitle').innerHTML="edit data";
			$('#mymodal').modal();
		}
	})
}//close addform


function deleteform(id){
	
	$.ajax({
		type:'get',
		url:'/variant/delete/'+id,
		dataType:'html',
		success:function(data){
			document.getElementById('modal-body').innerHTML=data;
			document.getElementById('mytitle').innerHTML="apa kamu yakin menghapus data ini?";
			$('#mymodal').modal();
		}
	})
}//close addform


$(document).ready(function(){
	$('#tabel').dataTable();
});
</script>
</body>
</html>