<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form  th:action="@{~/kategori/remove}" method="post" th:object="${kategori}">
<input type="hidden" th:field="*{id}">
<body>
<table>
	<tr>
		<td>Name Kategori</td>
		<td th:text="${kategori.Nama_kategori}" class="form-control"></td>
	</tr>
	<tr>
	
		<td>Category Id</td>
		<td th:text="${kategori.Id}" class="form-control"></td>
	</tr>
	
</table>
<input type="submit" class="btn btn-danger" value="Hapus Product">
</form>
</body>
</html>