<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<script th:src="@{/jquery.min.js}"></script>
	<script th:src="@{/jquery.dataTables.min.js}"></script>
	<script th:src=@{/bootstrap/js/bootstrap.min.js}></script>
	<style>
	body{
	margin:15px;
	}
	</style>
	</head>
<body>
home...
</body>
</html>